# Postgres
POSTGRES_DB=airflow
POSTGRES_USER=postgres
POSTGRES_PASSWORD=secret

# Greenplum
GREENPLUM_DB=gpadmin
GREENPLUM_USER=gpadmin
GREENPLUM_PASSWORD=secret

# AirFlow
AIRFLOW__CORE__EXECUTOR=CeleryExecutor
AIRFLOW__CORE__SQL_ALCHEMY_CONN=postgresql+psycopg2://postgres:secret@postgres/airflow
AIRFLOW__CELERY__RESULT_BACKEND=db+postgresql://postgres:secret@postgres/airflow
AIRFLOW__CELERY__BROKER_URL=redis://:@redis:6379/0
AIRFLOW__CORE__FERNET_KEY=''
AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION='true'
#AIRFLOW__CORE__LOAD_EXAMPLES='true'
#_AIRFLOW_DB_UPGRADE: 'true'
